services:
	moduleManager:
		setup:
			- addModule(Crm\UsersModule\UsersModule(), 300)
	emailValidator:
		factory: Crm\UsersModule\Models\Email\EmailValidator
		setup:
			- addValidator(Crm\UsersModule\Models\Email\RegexpValidator())
			- addValidator(Crm\UsersModule\Models\Email\StaticDomainFileValidator())
	filterLoader:
		setup:
			- register('gravatar', [Crm\UsersModule\Helpers\GravatarHelper(), process])
			- register('userLabel', [Crm\UsersModule\Helpers\UserLabelHelper(), process])

	measurementManager:
		setup:
			- register(Crm\UsersModule\Measurements\SignInMeasurement())
			- register(Crm\UsersModule\Measurements\NewUsersMeasurement())

	accessTokensRepository: Crm\UsersModule\Repositories\AccessTokensRepository
	usersRepository: Crm\UsersModule\Repositories\UsersRepository
	groupsRepository: Crm\UsersModule\Repositories\GroupsRepository
	userGroupsRepository: Crm\UsersModule\Repositories\UserGroupsRepository
	loginAttemptsRepository: Crm\UsersModule\Repositories\LoginAttemptsRepository
	registrationAttemptsRepository: Crm\UsersModule\Repositories\RegistrationAttemptsRepository
	changePasswordsLogsRepository:
		factory: Crm\UsersModule\Repositories\ChangePasswordsLogsRepository
		setup:
			- setRetentionThreshold('-12 months')
	userMetaRepository: Crm\UsersModule\Repositories\UserMetaRepository
	addressesRepository: Crm\UsersModule\Repositories\AddressesRepository
	addressesMetaRepository: Crm\UsersModule\Repositories\AddressesMetaRepository
	addressChangeRequestsRepository: Crm\UsersModule\Repositories\AddressChangeRequestsRepository
	userActionsLogRepository:
		factory: Crm\UsersModule\Repositories\UserActionsLogRepository
		setup:
			- setRetentionThreshold('-12 months')
	adminAccessRepository: Crm\UsersModule\Repositories\AdminAccessRepository
	adminGroupsRepository: Crm\UsersModule\Repositories\AdminGroupsRepository
	adminGroupsAccessRepository: Crm\UsersModule\Repositories\AdminGroupsAccessRepository
	autoLoginTokensRepository:
		factory: Crm\UsersModule\Repositories\AutoLoginTokensRepository
		setup:
			- setRetentionThreshold('now', 'valid_to')
	countriesRepository: Crm\UsersModule\Repositories\CountriesRepository(%countries.default%)
	addressTypesRepository: Crm\UsersModule\Repositories\AddressTypesRepository
	passwordResetTokensRepository: Crm\UsersModule\Repositories\PasswordResetTokensRepository
	userEmailConfirmationsRepository: Crm\UsersModule\Repositories\UserEmailConfirmationsRepository
	adminUserGroupsRepository: Crm\UsersModule\Repositories\AdminUserGroupsRepository
	userConnectedAccountsRepository: Crm\UsersModule\Repositories\UserConnectedAccountsRepository
	userStatsRepository: Crm\UsersModule\Repositories\UserStatsRepository

	# Authentication
	- Crm\UsersModule\Authenticator\AutoLoginAuthenticator
	- Crm\UsersModule\Authenticator\AccessTokenAuthenticator
	- Crm\UsersModule\Authenticator\UsersAuthenticator
	- Crm\UsersModule\Authenticator\AutoLoginTokenAuthenticator
	- Crm\UsersModule\Models\Auth\UserAuthenticator

	# API Authorization
	userTokenAuthorization: Crm\UsersModule\Models\Auth\UserTokenAuthorization
	defaultUserTokenAuthorization: Crm\UsersModule\Models\Auth\DefaultUserTokenAuthorization
	deviceTokenAuthorization: Crm\UsersModule\Models\Auth\DeviceTokenAuthorization
	serviceTokenAuthorization: Crm\UsersModule\Models\Auth\ServiceTokenAuthorization

	accessToken: Crm\UsersModule\Models\Auth\Access\AccessToken

	- Crm\UsersModule\Models\Auth\Sso\SsoUserManager
	- Crm\UsersModule\Models\Auth\Sso\GoogleSignInConfig(%sso.google.client_id%, %sso.google.client_secret%)
	googleSignIn: Crm\UsersModule\Models\Auth\Sso\GoogleSignIn
	appleSignIn: Crm\UsersModule\Models\Auth\Sso\AppleSignIn(%sso.apple.client_id%, %sso.apple.trusted_client_ids%)

	signInRedirectValidator:
		factory: Crm\UsersModule\Models\Auth\SignInRedirectValidator

	userDataLocaleResolver: Crm\UsersModule\Models\Locale\UserDataLocaleResolver
	translation.localeResolver:
		setup:
			- addResolver(Crm\UsersModule\Models\Locale\UserDataLocaleResolver)

	- Crm\UsersModule\Forms\ChangePasswordFormFactory
	- Crm\UsersModule\Forms\RequestPasswordFormFactory
	- Crm\UsersModule\Forms\ResetPasswordFormFactory
	- Crm\UsersModule\Forms\UserFormFactory
	- Crm\UsersModule\Forms\UserGroupsFormFactory
	- Crm\UsersModule\Forms\UserNoteFormFactory
	- Crm\UsersModule\Forms\GroupFormFactory
	- Crm\UsersModule\Forms\AdminGroupFormFactory
	- Crm\UsersModule\Forms\AdminUserGroupFormFactory
	- Crm\UsersModule\Forms\AddressFormFactory
	- Crm\UsersModule\Forms\UserDeleteFormFactory
	- Crm\UsersModule\Forms\AdminUserDeleteFormFactory
	- Crm\UsersModule\Forms\RegisterFormFactory
	- Crm\UsersModule\Forms\SignInFormFactory
	- Crm\UsersModule\Forms\AbusiveUsersFilterFormFactory
	- Crm\UsersModule\Scenarios\LocaleCriteria
	- Crm\UsersModule\Scenarios\UserGroupsCriteria
	- Crm\UsersModule\Scenarios\UserSourceCriteria
	- Crm\UsersModule\Scenarios\UserHasAddressCriteria
	- Crm\UsersModule\Scenarios\IsConfirmedCriteria
	- Crm\UsersModule\Scenarios\AddressTypeCriteria
	- Crm\UsersModule\Scenarios\AddressScenarioConditionModel
	- Crm\UsersModule\Scenarios\UserScenarioConditionModel
	- Crm\UsersModule\Models\Auth\AutoLogin\AutoLogin
	- Crm\UsersModule\Models\Auth\UserManager
	- Crm\UsersModule\Models\Auth\PasswordGenerator
	- Crm\UsersModule\Models\Auth\Authorizator
	- Crm\UsersModule\Models\Auth\Permissions
	- Crm\UsersModule\Models\Builder\UserBuilder
	- Crm\UsersModule\Models\DeviceDetector
	- Crm\UsersModule\Commands\AddUserCommand
	- Crm\UsersModule\Commands\GenerateAccessCommand
	- Crm\UsersModule\Commands\CheckEmailsCommand
	- Crm\UsersModule\Commands\DisableUserCommand
	- Crm\UsersModule\Commands\ReconstructUserDataCommand
	- Crm\UsersModule\Commands\GenerateUuidForUsersCommand
	- Crm\UsersModule\Components\AddressWidget\AddressWidget
	- Crm\UsersModule\Components\UserLoginAttempts\UserLoginAttempts
	- Crm\UsersModule\Components\UserPasswordChanges\UserPasswordChanges
	- Crm\UsersModule\Components\AutologinTokens\AutologinTokens
	- Crm\UsersModule\Components\UserMeta\UserMeta
	- Crm\UsersModule\Components\ActiveRegisteredUsersStatWidget\ActiveRegisteredUsersStatWidget
	- Crm\UsersModule\Components\TodayUsersStatWidget\TodayUsersStatWidget
	- Crm\UsersModule\Components\MonthUsersStatWidget\MonthUsersStatWidget
	- Crm\UsersModule\Components\MonthToDateUsersStatWidget\MonthToDateUsersStatWidget
	- Crm\UsersModule\Components\MonthUsersSmallBarGraphWidget\MonthUsersSmallBarGraphWidget
	- Crm\UsersModule\Components\SsoWidget\SsoWidget
	- Crm\UsersModule\Components\Widgets\DetailWidget\DetailWidgetFactoryInterface
	- Crm\UsersModule\DataProviders\UniversalSearchDataProvider
	- Crm\UsersModule\DataProviders\UsersClaimUserDataProvider
	- Crm\UsersModule\Events\UserLastAccessHandler
	- Crm\UsersModule\Events\SignEventHandler
	- Crm\UsersModule\Events\AuthenticationHandler
	- Crm\UsersModule\Events\NewAccessTokenHandler
	- Crm\UsersModule\Events\RefreshUserDataTokenHandler
	- Crm\UsersModule\Events\RemovedAccessTokenHandler
	- Crm\UsersModule\Events\FrontendRequestAccessTokenAutologinHandler
	- Crm\UsersModule\Api\UsersEmailHandler
	- Crm\UsersModule\Api\v2\UsersEmailHandler
	- Crm\UsersModule\Api\UsersEmailCheckHandler
	- Crm\UsersModule\Api\UsersLoginHandler
	- Crm\UsersModule\Api\UsersLogoutHandler
	- Crm\UsersModule\Api\ListUsersHandler
	- Crm\UsersModule\Api\UsersCreateHandler
	- Crm\UsersModule\Api\UsersUpdateHandler
	- Crm\UsersModule\Api\UserGroupApiHandler
	- Crm\UsersModule\Api\UserInfoHandler
	- Crm\UsersModule\Api\AddressesHandler
	- Crm\UsersModule\Api\CreateAddressHandler
	- Crm\UsersModule\Api\UsersConfirmApiHandler
	- Crm\UsersModule\Api\CreateAddressChangeRequestHandler
	- Crm\UsersModule\Api\UserMetaListHandler
	- Crm\UsersModule\Api\UserMetaKeyUsersHandler
	- Crm\UsersModule\Api\UserMetaDeleteHandler
	- Crm\UsersModule\Api\UserMetaUpsertHandler
	- Crm\UsersModule\Api\UserDataHandler
	- Crm\UsersModule\Api\AutoLoginTokenLoginApiHandler
	- Crm\UsersModule\Api\AppleTokenSignInHandler
	- Crm\UsersModule\Api\GoogleTokenSignInHandler
	- Crm\UsersModule\Api\EmailValidationApiHandler
	- Crm\UsersModule\Api\v2\EmailValidationApiHandler
	- Crm\UsersModule\Api\DeleteUserApiHandler
	- Crm\UsersModule\Api\UsersTouchApiHandler
	- Crm\UsersModule\Events\LoginAttemptHandler
	- Crm\UsersModule\Events\UserUpdatedHandler
	- Crm\UsersModule\Hermes\UserTokenUsageHandler
	- Crm\UsersModule\Commands\UpdateLoginAttemptsCommand
	- Crm\UsersModule\Components\UserActionLogAdmin\UserActionLogAdminFactoryInterface
	- Crm\UsersModule\Models\User\UserData
	- Crm\UsersModule\Models\User\UnclaimedUser
	- Crm\UsersModule\DataProviders\BasicUserDataProvider
	- Crm\UsersModule\DataProviders\AddressesUserDataProvider
	- Crm\UsersModule\DataProviders\AdminUserGroupsUserDataProvider
	- Crm\UsersModule\DataProviders\AutoLoginTokensUserDataProvider
	- Crm\UsersModule\DataProviders\LoginAttemptsUserDataProvider
	- Crm\UsersModule\DataProviders\UserMetaUserDataProvider
	- Crm\UsersModule\DataProviders\UserConnectedAccountsDataProvider
	- Crm\UsersModule\Models\User\ZipBuilder('%tempDir%')
	- Crm\UsersModule\Models\User\ReachChecker
	- Crm\UsersModule\Segment\SourceAccessCriteria
	- Crm\UsersModule\Segment\ActiveCriteria
	- Crm\UsersModule\Segment\DeletedCriteria
	- Crm\UsersModule\Segment\SourceCriteria
	- Crm\UsersModule\Segment\EmailCriteria
	- Crm\UsersModule\Segment\GroupCriteria
	- Crm\UsersModule\Segment\CreatedCriteria
	- Crm\UsersModule\Seeders\ConfigsSeeder
	- Crm\UsersModule\Seeders\SegmentsSeeder
	- Crm\UsersModule\Seeders\UsersSeeder
	- Crm\UsersModule\Seeders\SnippetsSeeder
	- Crm\UsersModule\Seeders\MeasurementsSeeder
	- Crm\UsersModule\Components\UserSourceAccesses\UserSourceAccesses
	- Crm\UsersModule\Components\UserTokens\UserTokens
	- Crm\UsersModule\Models\Auth\Rate\WrongPasswordRateLimit
	- Crm\UsersModule\Models\Auth\Rate\IpRateLimit
	registrationIpRateLimit:
		factory: Crm\UsersModule\Models\Auth\Rate\RegistrationIpRateLimit
	- Crm\UsersModule\Models\AdminFilterFormData
	- Crm\UsersModule\Models\Config

	- Crm\UsersModule\Api\GetDeviceTokenApiHandler
	- Crm\UsersModule\Repositories\DeviceTokensRepository
	- Crm\UsersModule\Components\UserConnectedAccountsListWidget\UserConnectedAccountsListWidget
